.elementor-532 .elementor-element.elementor-element-03f217b {
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
  }
  .elementor-532
    .elementor-element.elementor-element-1b74e85:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-532
    .elementor-element.elementor-element-1b74e85
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
  }
  .elementor-532 .elementor-element.elementor-element-1b74e85 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 122px 0px 0px 0px;
  }
  .elementor-532
    .elementor-element.elementor-element-1b74e85
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-532 .elementor-element.elementor-element-a34dc4f {
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
  }
  .elementor-532
    .elementor-element.elementor-element-454cd993:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-532
    .elementor-element.elementor-element-454cd993
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
  }
  .elementor-532 .elementor-element.elementor-element-454cd993 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 122px 0px;
  }
  .elementor-532
    .elementor-element.elementor-element-454cd993
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-532 .elementor-element.elementor-element-2146685a {
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
  }
  .elementor-532
    .elementor-element.elementor-element-2146685a
    > .elementor-element-populated.elementor-column-wrap {
    padding: 0px 15px 0px 15px;
  }
  .elementor-532
    .elementor-element.elementor-element-2146685a
    > .elementor-element-populated.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
  }
  .elementor-532 .elementor-element.elementor-element-7a116808 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 95px 0px 102px 84px;
    z-index: 10;
  }
  .elementor-532
    .elementor-element.elementor-element-7a116808:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-532
    .elementor-element.elementor-element-7a116808
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background: url("image-copyright-29.jpg") 50% 50%;
    background-size: cover;
  }
  .elementor-532 .elementor-element.elementor-element-7a116808,
  .elementor-532
    .elementor-element.elementor-element-7a116808
    > .elementor-background-overlay {
    border-radius: 6px 6px 6px 6px;
  }
  .elementor-532
    .elementor-element.elementor-element-7a116808
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-532 .elementor-element.elementor-element-2413a337 {
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
  }
  .elementor-532 .elementor-element.elementor-element-ceec93a {
    padding: 108px 0px 89px 0px;
  }
  .elementor-532 .elementor-element.elementor-element-f0beb67 {
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
  }
  .elementor-532 .elementor-element.elementor-element-dbfb274 {
    --spacer-size: 37px;
  }
  .elementor-532
    .elementor-element.elementor-element-5728aeb8:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-532
    .elementor-element.elementor-element-5728aeb8
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("image-copyright-19.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .elementor-532
    .elementor-element.elementor-element-5728aeb8
    > .elementor-background-overlay {
    background-color: #010101;
    opacity: 0.35;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-532 .elementor-element.elementor-element-5af925e2 {
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
    z-index: 2;
  }
  .elementor-532
    .elementor-element.elementor-element-24841cd3
    > .elementor-widget-container {
    padding: 0% 4% 0% 4%;
  }
  .elementor-532 .elementor-element.elementor-element-308f433 {
    --spacer-size: 30px;
  }
  .elementor-532
    .elementor-element.elementor-element-1cff1ae2
    > .elementor-widget-container {
    padding: 0% 20% 0% 20%;
  }
  .elementor-532 .elementor-element.elementor-element-1cff1ae2 {
    text-align: center;
    color: #ffffff;
  }
  .elementor-532 .elementor-element.elementor-element-508ac1f4 {
    --spacer-size: 40px;
  }
  .elementor-532
    .elementor-element.elementor-element-5728aeb8
    .elementor-background-overlay {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
      hue-rotate(0deg);
  }
  .elementor-532 .elementor-element.elementor-element-5728aeb8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 161px 0px 166px 0px;
  }
  .elementor-532 .elementor-element.elementor-element-c3d9392 {
    padding: 110px 0px 110px 0px;
  }
  .elementor-532 .elementor-element.elementor-element-9a992f9 {
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
  }
  .elementor-532
    .elementor-element.elementor-element-3870af3:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-532
    .elementor-element.elementor-element-3870af3
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
  }
  .elementor-532 .elementor-element.elementor-element-3870af3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 106px 0px 119px 0px;
  }
  .elementor-532
    .elementor-element.elementor-element-3870af3
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-532 .elementor-element.elementor-element-58a38dc {
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
  }
  .elementor-532 .elementor-element.elementor-element-1181cb8 {
    --spacer-size: 45px;
  }
  .elementor-532
    .elementor-element.elementor-element-bacc06a:not(
      .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
  .elementor-532
    .elementor-element.elementor-element-bacc06a
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("bg-6.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .elementor-bc-flex-widget
    .elementor-532
    .elementor-element.elementor-element-bacc06a.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-532
    .elementor-element.elementor-element-bacc06a.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-532 .elementor-element.elementor-element-bacc06a {
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
  }
  .elementor-532
    .elementor-element.elementor-element-bacc06a
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  }
  .elementor-532
    .elementor-element.elementor-element-bacc06a
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-532
    .elementor-element.elementor-element-bacc06a
    > .elementor-element-populated.elementor-column-wrap {
    padding: 0% 15% 0% 21%;
  }
  .elementor-532
    .elementor-element.elementor-element-bacc06a
    > .elementor-element-populated.elementor-widget-wrap {
    padding: 0% 15% 0% 21%;
  }
  .elementor-532 .elementor-element.elementor-element-43cd02f {
    --spacer-size: 53px;
  }
  .elementor-532 .elementor-element.elementor-element-624f44af {
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
  }
  .elementor-532
    .elementor-element.elementor-element-624f44af
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  }
  .elementor-532
    .elementor-element.elementor-element-624f44af
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-532
    .elementor-element.elementor-element-1f091c85
    > .elementor-container {
    min-height: 700px;
  }
  .elementor-532
    .elementor-element.elementor-element-1f091c85:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-532
    .elementor-element.elementor-element-1f091c85
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background: url("image-copyright-26.jpg")
      50% 50%;
    background-size: cover;
  }
  .elementor-532 .elementor-element.elementor-element-1f091c85 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-532
    .elementor-element.elementor-element-1f091c85
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .elementor-532 .elementor-element.elementor-element-50d0cbf2 {
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
  }
  @media (max-width: 1024px) and (min-width: 768px) {
    .elementor-532 .elementor-element.elementor-element-bacc06a {
      width: 100%;
    }
    .elementor-532 .elementor-element.elementor-element-624f44af {
      width: 100%;
    }
  }
  @media (max-width: 1024px) {
    .elementor-532 .elementor-element.elementor-element-1b74e85 {
      padding: 80px 0px 0px 0px;
    }
    .elementor-532 .elementor-element.elementor-element-454cd993 {
      padding: 0px 0px 80px 0px;
    }
    .elementor-532 .elementor-element.elementor-element-ceec93a {
      padding: 80px 0px 50px 0px;
    }
    .elementor-532 .elementor-element.elementor-element-5728aeb8 {
      padding: 80px 0px 80px 0px;
    }
    .elementor-532 .elementor-element.elementor-element-c3d9392 {
      padding: 80px 0px 80px 0px;
    }
    .elementor-532 .elementor-element.elementor-element-3870af3 {
      padding: 80px 0px 80px 0px;
    }
    .elementor-532
      .elementor-element.elementor-element-bacc06a
      > .elementor-element-populated.elementor-column-wrap {
      padding: 12% 20% 12% 20%;
    }
    .elementor-532
      .elementor-element.elementor-element-bacc06a
      > .elementor-element-populated.elementor-widget-wrap {
      padding: 12% 20% 12% 20%;
    }
    .elementor-532 .elementor-element.elementor-element-43cd02f {
      --spacer-size: 0px;
    }
    .elementor-532
      .elementor-element.elementor-element-1f091c85
      > .elementor-container {
      min-height: 450px;
    }
  }
  @media (max-width: 767px) {
    .elementor-532 .elementor-element.elementor-element-1b74e85 {
      padding: 60px 0px 0px 0px;
    }
    .elementor-532 .elementor-element.elementor-element-454cd993 {
      padding: 0px 0px 60px 0px;
    }
    .elementor-532
      .elementor-element.elementor-element-2146685a
      > .elementor-element-populated.elementor-column-wrap {
      padding: 0px 10px 0px 10px;
    }
    .elementor-532
      .elementor-element.elementor-element-2146685a
      > .elementor-element-populated.elementor-widget-wrap {
      padding: 0px 10px 0px 10px;
    }
    .elementor-532 .elementor-element.elementor-element-7a116808 {
      padding: 80px 15px 80px 15px;
    }
    .elementor-532 .elementor-element.elementor-element-ceec93a {
      padding: 60px 0px 30px 0px;
    }
    .elementor-532 .elementor-element.elementor-element-dbfb274 {
      --spacer-size: 20px;
    }
    .elementor-532
      .elementor-element.elementor-element-1cff1ae2
      > .elementor-widget-container {
      padding: 0px 0px 0px 0px;
    }
    .elementor-532 .elementor-element.elementor-element-5728aeb8 {
      padding: 60px 0px 60px 0px;
    }
    .elementor-532 .elementor-element.elementor-element-c3d9392 {
      padding: 60px 0px 20px 0px;
    }
    .elementor-532 .elementor-element.elementor-element-3870af3 {
      padding: 60px 0px 60px 0px;
    }
    .elementor-532 .elementor-element.elementor-element-1181cb8 {
      --spacer-size: 25px;
    }
    .elementor-532
      .elementor-element.elementor-element-bacc06a
      > .elementor-element-populated.elementor-column-wrap {
      padding: 15% 15% 15% 15%;
    }
    .elementor-532
      .elementor-element.elementor-element-bacc06a
      > .elementor-element-populated.elementor-widget-wrap {
      padding: 15% 15% 15% 15%;
    }
    .elementor-532
      .elementor-element.elementor-element-1f091c85
      > .elementor-container {
      min-height: 288px;
    }
  }
  